<%= form_for([@complaint, @complaint.comment.build]) do |f| %>
    <hr>
    <div class="form-group shadow-textarea">
        <%= f.text_area :content, class: 'form-control', id: 'comment_area', rows: '3', placeholder: 'Escreva seu comentario...' %>
    </div>
    <br>
    <%= f.submit 'Comentar', class: 'btn btn-primary' %>
<% end %>