<body class="text-center">
    <form class="form-signin">
<h1 class="h3 mb-3 font-weight-normal">New Complaint</h1>

<%= render 'form', complaint: @complaint %>

<%= link_to 'Back', complaints_path %>
    </form>
</body>