<div class="container">
    <form class="form-group">
        <h3 class="w-25 p-3">Nova Reclamação</h3>
        <div class="w-50 p-3">
    
            <%= render 'form', complaint: @complaint %>
    
            <br />
    
            <%= link_to 'Back', complaints_path, class: 'btn btn-primary' %>
        </div>
    </form>
</div>