# encoding: utf-8
<div class="container">
    <h3 class="w-25 p-3">Nova Reclamação</h3>
    
    <%= render 'form', complaint: @complaint %>
    
    <br />
    <div class="w-50 p-3">
        <%= link_to 'Back', complaints_path, class: 'btn btn-primary' %>
    </div>
</div>