<div class="container">
<div class="w-50 p-3">
<p> <strong>Nome:</strong> <%= full_name %> </p>
<p> <strong>Email:</strong> <%= @u.email %> </p>
<p>
<%= image_tag @u.user_photo %>
</p>
<table class="table">
<thead>
    <tr> 
        <th scope="col">Reclamações</th> 
    </tr>
</thead>
<% @user_complaints.each do |comp| %>
    <tbody>
        <tr>
            <td><%= link_to(raw("#{comp.title}<span class='badge'>#{comp.like.count}</span>"), complaint_path(comp), class: 'btn btn-info') %></td>
        </tr>
    </tbody>
<% end %>
</table>
<% if @user_complaints.length == 0 %>
    <p> Nenhuma reclamação feita ainda. </p>
<% end %>
</div>
</div>
