<!DOCTYPE html>
<html>
  <head>
    <title>Accessiblelife</title>
    <%= stylesheet_link_tag "index_style.css" %>
  </head>

  <body>
    
    <div id='index_menu'> <p> BOTÃO ENTRAR </p> </div>
    <div id='index_content'> CONTENT </div>
    <div id='index_bottom'> BOTTOM </div>
  </body>
</html>